<nav class="shell__nav">
    <NavLink href="/" Match="NavLinkMatch.All">Dashboard</NavLink>
    <NavLink href="/devtools">Developer Tools</NavLink>
    <a href="https://github.com/" target="_blank" rel="noreferrer">Repo</a>
    <a href="/docs/TODO-LEDGER" target="_blank" rel="noreferrer">TODO Ledger</a>
</nav>
